.contacts{
    width: 300px;   
    margin-bottom: 60px;
    float: left;
}

.contacts__title{
    text-transform: uppercase;
    font-family: 'Fjalla One', Arial, sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
    display: block;   
}

.contacts__title,
.contacts__address,
.contacts__phone{
    margin-bottom: 60px;
}

.contacts__img{
    margin-right: 30px;
    margin-bottom: 50px;
    float: left;
}

.contacts__name{
    font-family: 'Lato', Arial, sans-serif;
    color: #e84c3d;
    font-weight: bold;
}

.contacts__body{
    font-family: 'Lato', Arial, sans-serif;    
    font-size: 14px;
    color: #9faaad;
    line-height: 24px;
}

.contacts__title::after,
.contacts__address::after,
.contacts__phone::after,
.contacts__email::after{
    content: '';
    width: 370px;
    height: 1px;
    background-color: #e7e7e7;
    display: block;
    position: relative;
    top: 30px;
}